<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rebalancer Portfolio - Blue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}

    <!-- Le styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="{% static "bootstrap/css/sticky-footer-navbar.css" %}" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="..{{STATIC_URL}}/bootstrapjs/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="..{{ STATIC_URL }}bootstrapico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="..{{ STATIC_URL }}bootstrapico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="..{{ STATIC_URL }}bootstrapico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="..{{ STATIC_URL }}bootstrapico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="..{{ STATIC_URL }}bootstrapico/favicon.png">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Rebalancer</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            {% block nav_active_list %} {% endblock %}

            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    </li>

                    {% elif not "/Accounts/register/" in request.get_full_path and request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'registration_register' %}">Register</a>
                    </li>

                    {% else %}
                </ul>
            {% endif %}

            {% if not request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form" method="post" action="{% url 'auth_login' %}">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default ">Login</button>
                    </form>
                    {% elif   "/Accounts/login/" in request.get_full_path %}
                    {% else %}
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <!-- Put your Block information here -->
    <h1>{% block legend %}{% endblock %}</h1>
    {% block jumbotron %}{% endblock %}
    {% block primary %}{% endblock %}
    {% block content %} {% endblock %}
</div> <!-- /container -->

<footer class="footer">
    <div class="container">
        {% if not request.user.username %}
            <p class="text-muted">Today is {% now "jS F Y H:i" %}</p>
        {% else %}
            <p class="text-muted">Hello, <strong>{{ request.user.username }}</strong> | Today is {% now "jS F Y H:i" %}</p>
        {% endif %}

        {% block footer %}

        {% endblock %}

    </div>
</footer>


<!-- Le javascript================================================== -->

<!-- Latest compiled and minified JavaScript -->

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block script %}{% endblock %}

</body>

</html>
