{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Select Classification Weights {% endblock %}

{% block nav_active_list %}
    <ul class="nav navbar-nav">
    <li class=""><a href="{% url 'home' %}">Home</a></li>
    <li class="dropdown">
        <a href="{% url 'newRebalance' %}" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">
            New Rebalance <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'newRebalance' %}">Create New Rebalance</a></li>
            <li><a href="#">Select an Existing Rebalance</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="{% url 'accounts' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            Accounts <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'accountSearchFilter' %}">Create Account Filter</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            Reference Data<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">Positions</a></li>
            <li><a href="#">Tax Lots</a></li>
            <li><a href="#">Accounts</a></li>
        </ul>
    </li>
    <li><a href="{% url 'securities' %}">Securities</a></li>
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            Create AAM/SSM <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'createSecuritySelectionModels' %}">Create New Model</a></li>
            <li><a href="{% url 'updateSecuritySelectionModels' %}">Update Existing Model</a></li>
            <li><a href="{% url 'deleteModel' %}">Delete Model</a></li>
        </ul>
    </li>
    <li><a href="{% url 'rulesCreation' %}">Rules Creation</a></li>
    </ul>
{% endblock %}

{% block primary %}

    <div class=row>
        <div class="col-sm-12 col-sm-offset">
            <div class="page-header">
                <h3>Model: <span class="label label-default">{{ securitySelectionModelName }}</span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        {% csrf_token %}
        <div class="col-md-12">
            <h4>Model Weights:</h4>
            <div id="treeList"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">&nbsp;</div>
        <div class="col-md-4">
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <button type="button" class="btn btn-primary " id="btn-add">Add</button>
                <button type="button" class="btn btn-primary" id="btn-cancel">Cancel</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <link rel="stylesheet" href="{% static "kendo/styles/kendo.common.min.css" %}"/>
    <link rel="stylesheet" href="{% static "kendo/styles/kendo.bootstrap.min.css" %}"/>

    <script src="{% static "kendo/js/kendo.all.min.js" %}"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var id = {{ id }};

            var dataSource = new kendo.data.TreeListDataSource({
                transport: {
                    read: {
                        url: "../getModelTargetWeights?SSM_id=" + id,
                        dataType: "json"
                    },
                    update: {
                        url: "../updateModelWithTargetWeights/",
                        type: "post",
                        dataType: "json",

                        headers: {
                            "accept": "application/json;odata=verbose",
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    }
                },
                schema: {
                    parse: function (response) {
                        NodeArray = [];
                        if (response.length == undefined) {

                            var node = {
                                id: response.id,
                                currWeight: response.currWeight,
                                tgtWeight: response.tgtWeight,
                                hasChildren: response.hasChildNode,
                                parentId: response.parent,
                                ext_model_id: response.ext_model_id,
                                SSM_id: response.SSM.id,
                                securitySelectionModelName: response.SSM.securitySelectionModelName,
                                classificationName: response.classificationName,

                            };

                            if (typeof response.classificationName == 'object' && response.classificationName != null) {
                                node.classificationName = response.classificationName.classificationName;
                                node.parentId = response.parent.id;
                            }

                            NodeArray.push(node);
                        } else {
                            for (var i = 0; i < response.length; i++) {
                                var node = {
                                    id: response[i].id,
                                    currWeight: response[i].currWeight,
                                    tgtWeight: response[i].tgtWeight,
                                    hasChildren: response[i].hasChildNode,
                                    parentId: response[i].parent.id,
                                    SSM_id: response[i].SSM.id,
                                    ext_model_id: response[i].ext_model_id,
                                    securitySelectionModelName: response[i].SSM.securitySelectionModelName,
                                    classificationName: response[i].classificationName.classificationName
                                }
                                NodeArray.push(node);
                            }
                        }
                        return NodeArray;
                    },
                    model: {
                        id: "id",
                        parentId: "parentId",
                        hasChildren: false,
                        fields: {
                            id: {type: "number", nullable: false},
                            SSM_id: {type: "number", field: "SSM_id"},
                            ext_model_id: {type: "number", field: "ext_model_id"},
                            parentId: {field: "parentId", type: "number", defaultValue: null},
                            hasChildren: {type: "boolean", field: "hasChildren"},
                            tgtWeight: {type: 'number', editable: true,
                                            validation: {
                                                tgtWeightvalidation: function (input) {
                                                    if (input.is("[name='tgtWeight']") && input.val() != "" && input.val() < 0 || input.val() > 100) {
                                                        input.attr("data-tgtWeightvalidation-msg", "Value has to be greater than 0 and less than 100.");
                                                        return false;

                                                    } else {
                                                        return true;
                                                    }
                                                }
                                            }
                            },
                            currWeight: {type: "number", editable: false},
                            classificationName: {type: "string", editable: false},
                            securitySelectionModelName: {type: "string", editable: false}
                        }
                    },
                    aggregate: [
                        {field: "currWeight", aggregate: "sum"},
                        {field: "tgtWeight", aggregate: "sum"},
                    ]
                },
                batch: true
            });

            $("#treeList").kendoTreeList({
                dataSource: dataSource,
                editable: {
                    mode: "inline"
                },
                theme: "Bootstrap",
                height: 540,

                columns: [
                    {field: "securitySelectionModelName", title: "Model Name", expandable: true},
                    {field: "classificationName", title: "Classification"},
                    {field: "currWeight", title: "Current %", editable: false},
                    {field: "tgtWeight", title: "Target %", editable: true},

                    {command: ["edit"]}
                ],
                save: function (e) {
                    console.log("save");
                    dataSource.read();
                    expandGroups(e);

                },
                edit: function (e) {
                    console.log("edit");

                }
            });

            window.ExpandedDepth = 0;

            var expandGroups = function (e) {
                ExpandedDepth++;
                var treelist = $("#treeList").data("kendoTreeList"),
                        rowIndex = 0,
                        rows = treelist.content.find("tr:visible");

                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    var depth = ($(row).find(".k-i-none").length + 1) *
                            $(row).find(".k-grid-edit-row").length;
                    if (ExpandedDepth >= depth) {
                        treelist.expand(row);
                    }
                }

            };

        });
    </script>

{% endblock %}