{% extends 'base.html' %}

{% load staticfiles %}

{% block nav_active_list %}
    <ul class="nav navbar-nav">
    <li class=""><a href="{% url 'home' %}">Home</a></li>
    <li class="dropdown">
        <a href="{% url 'newRebalance' %}" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">
            New Rebalance <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'newRebalance' %}">Create New Rebalance</a></li>
            <li><a href="#">Select an Existing Rebalance</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="{% url 'accounts' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            Accounts <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'accountSearchFilter' %}">Create Account Filter</a></li>
        </ul>
    </li>
        <li><a href="{% url 'referenceData' %}">Reference Data</a></li>
    <li><a href="{% url 'securities' %}">Securities</a></li>
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            Create AAM/SSM <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'createSecuritySelectionModels' %}">Create New Model</a></li>
            <li><a href="{% url 'updateSecuritySelectionModels' %}">Update Existing Model</a></li>
            <li><a href="{% url 'deleteModel' %}">Delete Model</a></li>
        </ul>
    </li>
    <li><a href="{% url 'rulesCreation' %}">Rules Creation</a></li>
    </ul>
{% endblock %}

{% block title %}Delete Security Selection Models {% endblock %}

{% block primary %}

    <span id="notification" style="display:none;"></span>
    <INPUT TYPE=HIDDEN id="securitySelectionPK" value="{{ id }}">
    <div class=row>
        <div class="col-md-12">
            <div class="page-header">
                <h4>Select a model:</h4>
                <div id="modelDropDownlist"/>
            </div>
        </div>
    </div>

    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-6">
        </div>

        <div class="col-md-6">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-6">
        </div>
    </div>

    <script id="emailTemplate" type="text/x-kendo-template">
        <div class="new-mail">
            <img src="{% static 'images/success-icon.png' %}"/>
            <h3>#= title #</h3>
            <p>#= message #</p>
        </div>
    </script>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static "kendo/styles/kendo.common.min.css" %}"/>
    <link rel="stylesheet" href="{% static "kendo/styles/kendo.default.min.css" %}"/>


    <script src="{% static "kendo/js/kendo.all.min.js" %}"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            var notification = $("#notification").kendoNotification({
                position: {
                    pinned: true,
                    top: 30,
                    right: 30
                },
                autoHideAfter: 7000,
                stacking: "down",
                templates: [{
                    type: "info",
                    template: $("#emailTemplate").html()
                }]
            }).data("kendoNotification");


            $("#modelDropDownlist").kendoDropDownList({
                index: 0,
                theme: "bootstrap",
                dataTextField: "securitySelectionModelName",
                dataValueField: "id",
                dataSource: {
                    type: "json", // specifies data protocol
                    transport: {
                        read: "../getSSMList/"
                    },

                },
                select: onSSMChange
            });


            function onSSMChange(e) {

                var dataItem = this.dataItem(e.item);

                $.ajax({
                    type: "POST",
                    url: "{% url 'deleteModel' %}" + dataItem.id + "/",
                    async: true,
                    data: {

                        csrfmiddlewaretoken: '{{ csrf_token  }}'

                    },
                    success: function (response) {

                        notification.show({
                            title: "Success",
                            message: "Model was deleted." //TODO: Add the model name to the alert in the delete event.
                        }, "info");

                    },
                    complete: function(response){
                        window.location = '../deleteSecuritySelectionModels/'
                    }
                });


            }

            $(document).one("kendo:pageUnload", function () {
                if (notification) {
                    notification.hide();
                }
            });
        });

    </script>
    <style>

        /* Info template */
        .k-notification-info .k-group {
            background: rgba(0%, 0%, 0%, .7);
            color: #fff;
        }

        .new-mail {
            width: 300px;
            height: 100px;
        }

        .new-mail h3 {
            font-size: 1em;
            padding: 32px 10px 5px;
        }

        .new-mail img {
            float: left;
            margin: 30px 15px 30px 30px;
        }
    </style>
{% endblock %}