{% extends 'base.html' %}


{% block css %}
    <link href="..{{ STATIC_URL }}/bootstrap/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block nav_active_list %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'newRebalance' %}">New Rebalance</a></li>
    <li><a href="{% url 'accounts' %}">Accounts</a></li>
    <li><a href="{% url 'referenceData' %}">Reference Data</a></li>
    <li class="active"><a href="{% url 'securities' %}">Securities</a></li>
    <li><a href="{% url 'newModel' %}">Create AAM/SSM</a></li>
    <li><a href="{% url 'rulesCreation' %}">Rules Creation</a></li>
{% endblock %}

{% block primary %}
    <legend>Securities</legend>
    <fieldset>

        <div id="SecuritiesTableContainer"/>

    </fieldset>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="..{{ STATIC_URL }}kendo/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="..{{ STATIC_URL }}kendo/styles/kendo.default.min.css"/>

    <script src="..{{ STATIC_URL }}kendo/js/kendo.all.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#SecuritiesTableContainer").kendoGrid({
                dataSource: {
                    type: "get",
                    transport: {
                        read: {
                            url: "/GetAllSecurities/",
                            datatype: "json"
                        },
                        schema: {
                            model: {
                                fields: {
                                    acctCd: {type: "string"},
                                    shortName: {type: "string"},
                                    cashSegregated: {type: "number"},
                                    cashUnsegregated: {type: "number"},
                                    totCash: {type: "number"}
                                }
                            }
                        },
                        pageSize: 10
                    },
                },
                height: 250,
                filterable: {
                    mode: "row"
                },
                groupable: true,
                sortable: true,
                serverPaging: true,
                serverFiltering: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "acctCd",
                    title: "Code",
                    width: 100
                }, {
                    field: "shortName",
                    title: "Account Name",
                    width: 240,
                    filterable: {
                        cell: {
                            operator: "contains"
                        }
                    }
                }, {
                    field: "cashSegregated",
                    title: "Cash Segregated",
                    filterable: {
                        cell: {
                            enabled: false
                        }
                    },
                    width: 100
                }, {
                    field: "cashUnSegregated",
                    title: "Cash Unsegregated",
                    filterable: {
                        cell: {
                            enabled: false
                        }
                    },
                    width: 150
                }, {
                    field: "totCash",
                    title: "Total Cash",
                    filterable: {
                        cell: {
                            enabled: false
                        }
                    },
                    width: 150
                }]
            });
        });
    </script>
{% endblock %}